<div class="banner_home vh-75">
  <div class="container">
    <h1>Movie Lister</h1>
    <p>Make your own watchlists</p>
  </div>
</div>
<div class="container mx-auto mt-3">
  <div class="d-flex justify-content-between">
    <h3>Your Lists</h3>
    <%= link_to "Add a list", new_list_path, class: "btn btn-primary" %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="card text-center col-3 m-1 p-2 ">
        <h5>
          <%= list.name %>
        </h5>
        <div class="d-flex justify-content-evenly">
          <%= link_to "See List", list_path(list), class: "btn btn-success" %>
          <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Sure?"}, class: "btn btn-danger text-white" do  %>
          <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
