<div class="banner_home">
  <div class="container">
    <h1>Movie Lister</h1>
    <p>Make your own watchlists</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<ul>
  <% @lists.each do |list| %>
    <li>
    <%= list.name %>
    <%= link_to "See List", list_path(list) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a list", new_list_path %>
